# Jetbrains product
.idea/

# Ignore MacOS structure
.DS_Store

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Coverage
.coverage
.cover
coverage.html

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
